[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "==4.0"
dj-database-url = "*"
django-rest-auth = {extras = ["with_social"],version = "*"}
pillow = "*"
djangorestframework-jwt = "*"
pysqlite3 = "*"
djangorestframework-gis = "*"
geojson = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.6"
